<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foodlab.ncr.mapper.NcrCauseAnalysisMapper">

    <resultMap id="BaseResultMap" type="com.foodlab.ncr.entity.NcrCauseAnalysis">
        <id column="id" property="id"/>
        <result column="ncr_id" property="ncrId"/>
        <result column="ncr_code" property="ncrCode"/>
        <result column="sample_id" property="sampleId"/>
        <result column="sample_code" property="sampleCode"/>
        <result column="cause_type" property="causeType"/>
        <result column="cause_description" property="causeDescription"/>
        <result column="root_cause" property="rootCause"/>
        <result column="impact_analysis" property="impactAnalysis"/>
        <result column="analysis_person_id" property="analysisPersonId"/>
        <result column="analysis_person_name" property="analysisPersonName"/>
        <result column="analysis_time" property="analysisTime"/>
        <result column="review_person_id" property="reviewPersonId"/>
        <result column="review_person_name" property="reviewPersonName"/>
        <result column="review_time" property="reviewTime"/>
        <result column="review_opinion" property="reviewOpinion"/>
        <result column="remark" property="remark"/>
        <result column="attach_files" property="attachFiles"/>
        <result column="deleted" property="deleted"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

</mapper>
